<div class="container">
  <div class="row" style='margin:50px;'>
    <div class="col-sm">
      <div class="card text-center" style="width: 18rem;">
        <img class="card-img-top" src="./assets/logos/keywordExtractor.PNG" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Reskin Keyword Extractor</h5>
          <p class="card-text">The best tool to find pertinentes keywords for your android apps. </p>
          <a routerLink="keyword-extractor" class="btn btn-primary">Go Folivora</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card text-center" style="width: 18rem;">
        <img class="card-img-top" src="./assets/logos/keywordExtractor.PNG" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Reskin Keyword Extractor</h5>
          <p class="card-text">The best tool to find pertinentes keywords for your android apps. </p>
          <a href="#" class="btn btn-primary">Go Folivora</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card text-center" style="width: 18rem;">
        <img class="card-img-top" src="./assets/logos/keywordExtractor.PNG" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Reskin Keyword Extractor</h5>
          <p class="card-text">The best tool to find pertinentes keywords for your android apps. </p>
          <a href="#" class="btn btn-primary">Go Folivora</a>
        </div>
      </div>
    </div>
  </div>
</div>
