<div class="container">
  <h1>Keyword Extractor</h1>
  <form action="https://www.folivoras.com/" method="POST">
    <div class="form-group">
      <label for="url1">URL:</label>
      <input
        type="text"
        name="url1"
        id="url1"
        class="form-control"
        placeholder="https://play.google.com/store/apps/details?id=com.elhajjaji.miao&hl=fr"

      />
    </div>

    <button type="submit" class="btn btn-primary">Search keywords</button>
  </form>

  <hr class="divider" />
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Keyword</th>
        <th scope="col">Score</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>vendez autres</td>
        <td>1.0</td>
      </tr>

      <tr>
        <td>terre prospère</td>
        <td>1.0</td>
      </tr>

      <tr>
        <td>retrouvez les</td>
        <td>1.0</td>
      </tr>

      <tr>
        <td>remplis les</td>
        <td>1.0</td>
      </tr>

      <tr>
        <td>prépare plus</td>
        <td>1.0</td>
      </tr>

      <tr>
        <td>nous trouver</td>
        <td>1.0</td>
      </tr>

      <tr>
        <td>ne changera</td>
        <td>1.0</td>
      </tr>

      <tr>
        <td>même le</td>
        <td>1.0</td>
      </tr>

      <tr>
        <td>mignons animaux</td>
        <td>1.0</td>
      </tr>

      <tr>
        <td>merveilleuse ferme</td>
        <td>1.0</td>
      </tr>

      <tr>
        <td>lîle pariez</td>
        <td>1.0</td>
      </tr>

      <tr>
        <td>lorsquelles pondent</td>
        <td>1.0</td>
      </tr>

      <tr>
        <td>le fermier</td>
        <td>1.0</td>
      </tr>

      <tr>
        <td>herocraft watch</td>
        <td>1.0</td>
      </tr>

      <tr>
        <td>fais pousser</td>
        <td>1.0</td>
      </tr>

      <tr>
        <td>clique ici</td>
        <td>1.0</td>
      </tr>

      <tr>
        <td>cette version</td>
        <td>1.0</td>
      </tr>

      <tr>
        <td>bienvenue dans</td>
        <td>1.0</td>
      </tr>

      <tr>
        <td>aidez anna</td>
        <td>1.0</td>
      </tr>

      <tr>
        <td>pierres du bois</td>
        <td>0.707</td>
      </tr>

      <tr>
        <td>pierres du</td>
        <td>0.707</td>
      </tr>

      <tr>
        <td>fabriquez différents produits</td>
        <td>0.707</td>
      </tr>

      <tr>
        <td>fabriquez différents</td>
        <td>0.707</td>
      </tr>

      <tr>
        <td>achetez dincroyables améliorations</td>
        <td>0.707</td>
      </tr>

      <tr>
        <td>achetez dincroyables</td>
        <td>0.707</td>
      </tr>

      <tr>
        <td>la ferme charmante</td>
        <td>0.627</td>
      </tr>

      <tr>
        <td>ferme charmante</td>
        <td>0.627</td>
      </tr>

      <tr>
        <td>particularités du jeu</td>
        <td>0.61</td>
      </tr>

      <tr>
        <td>particularités du</td>
        <td>0.61</td>
      </tr>

      <tr>
        <td>fermiersuper ferme mini</td>
        <td>0.61</td>
      </tr>

      <tr>
        <td>fermiersuper ferme</td>
        <td>0.61</td>
      </tr>

      <tr>
        <td>nouvelles fonctionnalités</td>
        <td>0.602</td>
      </tr>

      <tr>
        <td>de nouvelles fonctionnalités</td>
        <td>0.602</td>
      </tr>

      <tr>
        <td>super ferme mini</td>
        <td>0.596</td>
      </tr>

      <tr>
        <td>utilisant des décorations</td>
        <td>0.592</td>
      </tr>

      <tr>
        <td>utilisant des</td>
        <td>0.592</td>
      </tr>

      <tr>
        <td>nouvelles compétences</td>
        <td>0.589</td>
      </tr>

      <tr>
        <td>de nouvelles compétences</td>
        <td>0.589</td>
      </tr>

      <tr>
        <td>youtubecomherocraft like facebookcomherocraftgames</td>
        <td>0.577</td>
      </tr>

      <tr>
        <td>youtubecomherocraft like</td>
        <td>0.577</td>
      </tr>

      <tr>
        <td>votre récolte</td>
        <td>0.577</td>
      </tr>

      <tr>
        <td>politique de confidentialité</td>
        <td>0.577</td>
      </tr>

      <tr>
        <td>politique de</td>
        <td>0.577</td>
      </tr>

      <tr>
        <td>par train</td>
        <td>0.577</td>
      </tr>

      <tr>
        <td>like facebookcomherocraftgames</td>
        <td>0.577</td>
      </tr>

      <tr>
        <td>joueurs votre récolte</td>
        <td>0.577</td>
      </tr>

      <tr>
        <td>joueurs votre</td>
        <td>0.577</td>
      </tr>

      <tr>
        <td>jolly day farm</td>
        <td>0.577</td>
      </tr>

      <tr>
        <td>jolly day</td>
        <td>0.577</td>
      </tr>

      <tr>
        <td>fur et</td>
        <td>0.577</td>
      </tr>

      <tr>
        <td>fin de lîle</td>
        <td>0.577</td>
      </tr>

      <tr>
        <td>fin de</td>
        <td>0.577</td>
      </tr>

      <tr>
        <td>et par train</td>
        <td>0.577</td>
      </tr>

      <tr>
        <td>et par</td>
        <td>0.577</td>
      </tr>

      <tr>
        <td>de mer</td>
        <td>0.577</td>
      </tr>

      <tr>
        <td>de lîle</td>
        <td>0.577</td>
      </tr>

      <tr>
        <td>de confidentialité</td>
        <td>0.577</td>
      </tr>

      <tr>
        <td>day farm</td>
        <td>0.577</td>
      </tr>

      <tr>
        <td>bord de mer</td>
        <td>0.577</td>
      </tr>

      <tr>
        <td>bord de</td>
        <td>0.577</td>
      </tr>

      <tr>
        <td>au fur et</td>
        <td>0.577</td>
      </tr>

      <tr>
        <td>au fur</td>
        <td>0.577</td>
      </tr>

      <tr>
        <td>super ferme</td>
        <td>0.568</td>
      </tr>

      <tr>
        <td>ferme mini</td>
        <td>0.505</td>
      </tr>

      <tr>
        <td>de nouvelles</td>
        <td>0.524</td>
      </tr>

      <tr>
        <td>des décorations</td>
        <td>0.547</td>
      </tr>

      <tr>
        <td>tous les</td>
        <td>0.534</td>
      </tr>

      <tr>
        <td>du jeu</td>
        <td>0.505</td>
      </tr>

      <tr>
        <td>élevez des poulets</td>
        <td>0.5</td>
      </tr>

      <tr>
        <td>élevez des</td>
        <td>0.5</td>
      </tr>

      <tr>
        <td>une île exotique</td>
        <td>0.5</td>
      </tr>

      <tr>
        <td>une île</td>
        <td>0.5</td>
      </tr>

      <tr>
        <td>télécharger et jouer</td>
        <td>0.5</td>
      </tr>

      <tr>
        <td>télécharger et</td>
        <td>0.5</td>
      </tr>

      <tr>
        <td>sur une île</td>
        <td>0.5</td>
      </tr>

      <tr>
        <td>sur une</td>
        <td>0.5</td>
      </tr>

      <tr>
        <td>poulets des cochons</td>
        <td>0.5</td>
      </tr>

      <tr>
        <td>poulets des</td>
        <td>0.5</td>
      </tr>

      <tr>
        <td>gratuit télécharger et</td>
        <td>0.5</td>
      </tr>

      <tr>
        <td>gratuit télécharger</td>
        <td>0.5</td>
      </tr>

      <tr>
        <td>la ferme il</td>
        <td>0.469</td>
      </tr>

      <tr>
        <td>il ya</td>
        <td>0.469</td>
      </tr>

      <tr>
        <td>ferme il ya</td>
        <td>0.469</td>
      </tr>

      <tr>
        <td>ferme il</td>
        <td>0.469</td>
      </tr>

      <tr>
        <td>la ferme</td>
        <td>0.463</td>
      </tr>

      <tr>
        <td>élever toutes</td>
        <td>0.454</td>
      </tr>

      <tr>
        <td>la grange illimité</td>
        <td>0.454</td>
      </tr>

      <tr>
        <td>la grange</td>
        <td>0.454</td>
      </tr>

      <tr>
        <td>grange illimité</td>
        <td>0.454</td>
      </tr>

      <tr>
        <td>des animaux mignons</td>
        <td>0.454</td>
      </tr>

      <tr>
        <td>de la grange</td>
        <td>0.454</td>
      </tr>

      <tr>
        <td>apprivoisez des animaux</td>
        <td>0.454</td>
      </tr>

      <tr>
        <td>apprivoisez des</td>
        <td>0.454</td>
      </tr>

      <tr>
        <td>anna élever toutes</td>
        <td>0.454</td>
      </tr>

      <tr>
        <td>anna élever</td>
        <td>0.454</td>
      </tr>

      <tr>
        <td>animaux mignons</td>
        <td>0.454</td>
      </tr>

      <tr>
        <td>aidez anna élever</td>
        <td>0.454</td>
      </tr>
    </tbody>
  </table>
</div>
