<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Keyword Extractor</title>
</head>

<body>
    <div class="container">
        <h1>TF-IDF Keyword Extractor</h1>
        <form action="{{ url_for('index') }}" method="POST">
            <div class="form-group">
                <label for="url1">URL for App 1</label>
                <input type="text" name="url1" id="url1" class="form-control" placeholder="Enter url"
                    value="{%if url1 %}{{url1}}{%endif%}">
            </div>
            <div class="form-group">
                <label for="url2">URL for App 2</label>
                <input class="form-control" type="text" name="url2" id="url2" placeholder="Enter url"
                    value="{%if url2 %}{{url2}}{%endif%}">
            </div>
            <div class="form-group">
                <label for="url3">URL for App 3</label>
                <input class="form-control" type="text" name="url3" id="url3" placeholder="Enter url"
                    value="{%if url3 %}{{url3}}{%endif%}">
            </div>
            <div class="form-group">
                <label for="url4">URL for App 4</label>
                <input class="form-control" type="text" name="url4" id="url4" placeholder="Enter url"
                    value="{%if url4 %}{{url4}}{%endif%}">
            </div>
            <div class="form-group">
                <label for="url5">URL for App 5</label>
                <input class="form-control" type="text" name="url5" id="url5" placeholder="Enter url"
                    value="{%if url5 %}{{url5}}{%endif%}">
            </div>
            <button type="submit" class="btn btn-primary">Search keywords</button>
        </form>
        {% if keywords %}
        <hr class="divider" />
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Keyword</th>
                    <th scope="col">Score</th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in keywords%}
                <tr>
                    <td>{{key}}</td>
                    <td>{{value}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% endif %}
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>